<!DOCTYPE html>
<html>

{%- block head -%}{%- include 'head.html' -%}{%- endblock -%}

<body>

<div id="loading" class="hide"></div>

{%- block menu -%}{%- include 'menu.html' -%}{%- endblock -%}


<main id="main">
    <!-- nav -->
    {% if post %}
    {%- block top_head -%}{%- include 'top_head.html' -%}{%- endblock -%}
    {% else %}
    {%- block nav -%}{%- include 'nav.html' -%}{%- endblock -%}
    {% endif %}

    {% block body %} {% endblock %}

    <!-- footer -->
    {%- include 'footer.html' -%}

</main>

<!-- 分享相关 -->
{%- block global_share -%}{%- include 'global_share.html' -%}{%- endblock -%}

<script src="//cdn.bootcss.com/node-waves/0.7.4/waves.min.js"></script>
<script>
{% if post %}
var BLOG = { ROOT: '/', SHARE: true, REWARD: true };
{% else %}
var BLOG = { ROOT: '/', SHARE: true, REWARD: false };
{% endif %}
</script>

<script src="/static/js/main.js"></script>

{%- block search -%}{%- include 'search.html' -%}{%- endblock -%}


</body>
</html>
