<!DOCTYPE html>
<html lang="en">
{%- block head -%}{%- include 'head.html' -%}{%- endblock -%}
<body>
<main id="main">
    <!-- nav -->
    {% if not post %}
    {%- block nav -%}{%- include 'nav.html' -%}{%- endblock -%}
    {% endif %}
    <!-- main -->
    {% block body %} {% endblock %}
    <!-- footer -->
    {%- include 'footer.html' -%}
</main>

<div id="loading" class="hide"></div>

{%- block menu -%}{%- include 'menu.html' -%}{%- endblock -%}

<!-- 分享相关 -->
<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light">
    <span class="icon icon-lg icon-chevron-up"></span>
</a>
<div class="global-share" id="globalShare">
    <ul class="reset share-icons">
        <li>
            <a class="weibo share-sns" target="_blank"
               href="http://service.weibo.com/share/share.php?url=http://xsren.me/&title=仁者无敌&pic=http://xsren.me/static/img/avatar.jpg"
               data-title="微博">
                <i class="icon icon-weibo"></i>
            </a>
        </li>
        <li>
            <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
                <i class="icon icon-weixin"></i>
            </a>
        </li>
        <li>
            <a class="qq share-sns" target="_blank"
               href="http://connect.qq.com/widget/shareqq/index.html?url=http://xsren.me/&title=仁者无敌&source=xsren写作的地方"
               data-title=" QQ">
                <i class="icon icon-qq"></i>
            </a>
        </li>
        <li>
            <a class="facebook share-sns" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http://xsren.me/" data-title=" Facebook">
                <i class="icon icon-facebook"></i>
            </a>
        </li>
        <li>
            <a class="twitter share-sns" target="_blank"
               href="https://twitter.com/intent/tweet?text=仁者无敌&url=http://xsren.me/&via=http://xsren.me"
               data-title=" Twitter">
                <i class="icon icon-twitter"></i>
            </a>
        </li>
        <li>
            <a class="google share-sns" target="_blank" href="https://plus.google.com/share?url=http://xsren.me/"
               data-title=" Google+">
                <i class="icon icon-google-plus"></i>
            </a>
        </li>
    </ul>
</div>
<div class="page-modal wx-share" id="wxShare">
    <a class="close" href="javascript:;">
        <i class="icon icon-close"></i>
    </a>
    <p>扫一扫，分享到微信</p>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAAAAAAZai4+AAABUUlEQVR42u3aQQ7DIAxE0dz/0qmUbRQyM24XZT6rqkLhscEG+zjkcV7j/s/9f3fOaMCCtRHrXI4nlvtlfS1YsJpZ60PBJbrbgwULls56CtjZ9mDBgjU5INyjBBYsWDpLSZqlZFcI1V/O5WHB2oLlPiRNfv/wfQsWrL9lnYPhJsTGl2HBKmNNSiDrQKsUY15WhAWrmDW5cOpXXGkOLFg1rAyxvo5mKfhLkIYFq4DlNg1kixkbgAWrjJVdQeelF7v1BxasSpYemPWmBGX+Y8CGBauApYdnNwAb7QXu2xUsWNuxssX0hgP9sIAFC5ayzKTcYj8Kw4JVw5o3GbjJtJQ0w4JVxnLT6OxA0bcUZvewYG3Byg4F/VHYPThgwWpmZYu5hRajjAoLFixh4fkz08s2YMGCJZQ/3Zl66QUWrGZW9hiUfQ0WLFjZmDcTuA1DsGDVsD7chxcOi5iz3QAAAABJRU5ErkJggg=="
         alt="微信分享二维码"></div>
<script src="//cdn.bootcss.com/node-waves/0.7.4/waves.min.js"></script>
<script>var BLOG = {
        ROOT: '/',
        SHARE: true,
        REWARD: true
      };


</script>
<script src="//unpkg.com/hexo-theme-material-indigo@latest/js/main.min.js"></script>
<div class="search-panel" id="search-panel">
    <ul class="search-result" id="search-result"></ul>
</div>
<template id="search-tpl">
    <li class="item">
        <a href="{path}" class="waves-block waves-effect">
            <div class="title ellipsis" title="{title}">{title}</div>
            <div class="flex-row flex-middle">
                <div class="tags ellipsis">{tags}</div>
                <time class="flex-col time">{date}</time>
            </div>
        </a>
    </li>
</template>
<script src="//unpkg.com/hexo-theme-material-indigo@latest/js/search.min.js" async></script>

</body>

<!-- load js -->
{%- block scripts -%}
<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
{%- block additional_js -%}{%- endblock -%}
<script src="{{ url_for('static', filename='js/main.js', v='0.0.1') }}"></script>
{%- endblock -%}


</html>