<div class="global-share" id="globalShare">
    <ul class="reset share-icons">
        <li>
            <a class="weibo share-sns" target="_blank"
               href="http://service.weibo.com/share/share.php?url=http://xsren.me/2017/05/11/Scrapy-组件执行顺序/&title=《Scrapy 组件执行顺序》 — 仁者无敌&pic=http://xsren.me/static/img/avatar.jpg"
               data-title="微博">
                <i class="icon icon-weibo"></i>
            </a>
        </li>
        <li>
            <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
                <i class="icon icon-weixin"></i>
            </a>
        </li>
        <li>
            <a class="qq share-sns" target="_blank"
               href="http://connect.qq.com/widget/shareqq/index.html?url=http://xsren.me/2017/05/11/Scrapy-组件执行顺序/&title=《Scrapy 组件执行顺序》 — 仁者无敌&source=xsren写作的地方"
               data-title=" QQ">
                <i class="icon icon-qq"></i>
            </a>
        </li>
        <li>
            <a class="facebook share-sns" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=http://xsren.me/2017/05/11/Scrapy-组件执行顺序/"
               data-title=" Facebook">
                <i class="icon icon-facebook"></i>
            </a>
        </li>
        <li>
            <a class="twitter share-sns" target="_blank"
               href="https://twitter.com/intent/tweet?text=《Scrapy 组件执行顺序》 — 仁者无敌&url=http://xsren.me/2017/05/11/Scrapy-组件执行顺序/&via=http://xsren.me"
               data-title=" Twitter">
                <i class="icon icon-twitter"></i>
            </a>
        </li>
        <li>
            <a class="google share-sns" target="_blank"
               href="https://plus.google.com/share?url=http://xsren.me/2017/05/11/Scrapy-组件执行顺序/" data-title=" Google+">
                <i class="icon icon-google-plus"></i>
            </a>
        </li>
    </ul>
</div>


<div class="page-modal wx-share" id="wxShare">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <p>扫一扫，分享到微信</p>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMYAAADGCAAAAACs8KCBAAACNElEQVR42u3aQXKDQAwFUd//0mSbFAH6S+AqNM2KIjEzzwtZGunzwde2u8jz/RvI/f6zt10yZMh4LWM7vcgCR586+p/z5+df0+EqMmTIWIBxtDAPoGT583VJ4D58LkOGDBk4HSRhupZEypAhQ0aNkb6HpJIyZMiQ0SliawUt2RZJOm+rxWXIkPFCBj91//79I/0NGTJkvIqxhVf6nieC7D+ryJAhYzQjXYanZbV2Zm0/MmTIWIGRDkP0D+NqoRxRZciQMY5BXnFXfcyDLL//k+HKkCFjNCPFpANhHBb8Pvz+qwwZMkYz+HY7m06P8AjsIsOVIUPGUAYJgmTAqxagay0EGTJkrMPggfU8yKZhun9GeHHoJkOGjBGMu8Yg0sSxk0QezozIkCFjMQZvWAaFZTjAQdLQ5GdFhgwZb2WkgFp5yTfUGRSTIUPGVEYtmePJYu3ALm5wypAhYzSDb4uXnbV3dspdGTJkrMAgwbEWCmsNhk7pK0OGjNmMdNOkeckbDDyVDEYuZMiQMYjBN9FJ3TpH/2iMTIYMGQswaqMPnVN63lRAX6IMGTIWYNS2yJckSWfaKJUhQ8YKjC280u2ilA6XuBf1twwZMoYy0jCXNjJrZXANL0OGjNkMHmT7h3HPgWXIkLECI6h6S2GRp57FYQsZMmTIwEVs7UAtDdaftLcgQ4aM5RlkhCJtIaSHcTJkyFiBkTYDakkhD8oxXoYMGaMZ6YhDrTHQHzu7rb8hQ4aMNzF+AKBTk2FQN29iAAAAAElFTkSuQmCC"
         alt="微信分享二维码">
</div>