<header class="top-header" id="header">
    <div class="flex-row">
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light on" id="menu-toggle">
            <i class="icon icon-lg icon-navicon"></i>
        </a>
        {%- if default_settings -%}
        <div class="flex-col header-title ellipsis">{{ default_settings['BLOG_TITLE'] }}</div>
        {%- endif -%}
        <div class="search-wrap" id="search-wrap">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="back">
                <i class="icon icon-lg icon-chevron-left"></i>
            </a>
            <input type="text" id="key" class="search-input" autocomplete="off" placeholder="Search">
            <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="search">
                <i class="icon icon-lg icon-search"></i>
            </a>
        </div>
        <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menuShare">
            <i class="icon icon-lg icon-share-alt"></i>
        </a>
    </div>
</header>
<header class="content-header index-header">
    <div class="container fade-scale">
        {%- if default_settings -%}
        <h1 class="title">{{ default_settings['BLOG_TITLE'] }}</h1>
        <h5 class="subtitle">{{ default_settings['BLOG_DESCRIPTION'] }}</h5></div>
        {%- endif -%}
</header>